// _modal.scss

.modal-close-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // color: white;
  // font-size: 3rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  z-index: 1050;

    &:hover {
    color: #fff;
    background-color: #dc3545;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.profile-pic {
  position: relative;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .remove-image-button {
    width: 22px;
    height: 22px;
    padding: 0;
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// _buttons.scss or your main.scss
.small-remove-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 22px;
  height: 22px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #dc3545;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.modal-close-btn {
  @extend .small-remove-btn;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #000;

  &:hover {
    color: #ff0000;
    background-color: transparent;
  }
}
