.container_loading{
    height: 100%;
    /* width: calc(100% - 260px); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0; left: 0;
    /* margin: 0 0 0 260px; */
    padding: 60px 0 0;
    background-color: #000;
    transition: all 0.2s ease;
    z-index: 108;
    opacity: 0.5;
}



/* .loading{
    color: white;
} */

/* .ring{
    width: 200px;
    height: 200px;
    border: 0px solid #011015;
    border-radius: 50%;
    position: absolute;
}
.ring:nth-child(1){
    border-bottom-width: 8px ;
    border-color: rgb(255, 0, 255);
    animation: rotate1 2s linear infinite;
}

.ring:nth-child(2){
    border-right-width: 8px ;
    border-color: rgb(0, 247, 255);
    animation: rotate2 2s linear infinite;
} */

.ring:nth-child(3){
    border-top-width: 8px ;
    border-color: rgb(0, 255, 13);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate1{
    0%{
       transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
       transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2{
    0%{
       transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
       transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3{
    0%{
       transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
       transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
